<ion-header>
  <ion-toolbar>
    <ion-title>
      To-Do List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Tareas Pendientes -->
  <ion-list>
    <ion-list-header>
      <ion-label>Tareas Pendientes</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let task of pendingTasks">
      <ion-label>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
      </ion-label>
      <ion-checkbox
        slot="end"
        [(ngModel)]="task.completed"
        (ngModelChange)="toggleTaskStatus(task)"
      ></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- Tareas Completadas -->
  <ion-list>
    <ion-list-header>
      <ion-label>Tareas Completadas</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let task of completedTasks">
      <ion-label>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
      </ion-label>
      <ion-checkbox
        slot="end"
        [(ngModel)]="task.completed"
        (ngModelChange)="toggleTaskStatus(task)"
        disabled
      ></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-button expand="full" routerLink="/add-task">Agregar Tarea</ion-button>
  </ion-footer>
</ion-content>
